/test_images/inception.mp4
/output/inception_shortened_output.mp4
/output/images.zip

/wwzd_env/
/web_app/*.sqlite3
/web_app/*.csv
/web_app/web_app/__pycache__
/web_app/chart/__pycache__/
/web_app/chart/migrations/
/web_app/chart/static/*.csv
/web_app/chart/static/*.tsv
/web_app/wwzd_app/migrations/

/venv/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
output