{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5f29fb42ce.js" crossorigin="anonymous"></script>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        .page-footer {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: auto;
            width: 100%;
            background-color: #292b2c;
            color: #ffffff;
            text-align: center;
        }
    </style>
</head>

<body>
    {% block navbar%}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand">WWZD</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'videos' %}" class="nav-link">Videos</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'upload_form' %}" class="nav-link">Upload Video</a>
                </li>
            </ul>

        </div>
    </nav>
    {% endblock %}

    {% block content%}



    {% endblock %}

    <!-- {% block footer %}
    <footer class="page-footer">
        <div class=" footer-copyright text-center py-3">© 2022 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </footer>
    {% endblock %}

    {% block scripts %}
    <script>
        function footerAlign() {
            $('page-footer').css('height', 'auto');
            var footerHeight = $('page-footer').outerHeight();
            $('body').css('padding-bottom', footerHeight);
            $('page-footer').css('height', footerHeight);
        }
        $(document).ready(function () {
            footerAlign();
        });
        $(window).resize(function () {
            footerAlign();
        });
    </script>

    {% endblock %} -->
</body>

</html>